<div class="container">
  <div class="row content">
    <div *ngIf="!car_number" class="col-sm-6 mx-auto text-center">
      <app-car-identification-page
        (carNumberEntered)="onCarNumberEntered($event)"
      ></app-car-identification-page>
    </div>
    <div class="col-sm-9 mx-auto">
      <app-pick-location-page
        *ngIf="car_number && !currentCoordinates"
        (locationPicked)="onLocationPicked($event)"
      ></app-pick-location-page>
      <app-tech-tracker-page
        *ngIf="currentCoordinates"
        [longitude]="currentCoordinates.lng"
        [latitude]="currentCoordinates.lat"
      ></app-tech-tracker-page>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
